*
{
    margin: 0;
    padding: 0;
}
header
{
    background-image:url(solid-pastel-blue-fabric_large.jpg); /*changing the background of my website and adjusting its size and position */
    height: 100vh;
    background-size: cover;
    background-position: center;
}
/* changing color of nav bar */
.nav-bar                                        
{
    background: rgb(0,0,0,0.1);
    height: 80px;
}
/* changing positioning of nav bar to the right side of page */
.menu{
    float: right;
    list-style: none;
    margin: 20px;
}

.menu li{
    display: inline-block;
    margin: 10px 5px;
}
/* changing font and color for text in nav bar*/
.menu li a{ 
    text-decoration: none;
    color: antiquewhite;
    padding: 5px 10px;
    font-family: sans-serif;
    letter-spacing: 2px;
    border: 1px solid #fff;
}

.menu li a:hover{
    background: #fff;
    transition: .4s;
    color: #000;
}

.welcome{ /* aligning text and changing font for middle text */
    position: relative;
    text-align: center ;
    font-family: sans-serif;
    color:#fff;
    top: 160px;
    
}

.welcome h1{
    font-size: 42px;
    margin: 25px;
}
